<h1> PLANTILLA NODE 5 </h1>

<article{{ attributes }}>

  {{ title_prefix }}
  {% if label and not page %}
    <h2{{ title_attributes }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
  {% endif %}
  {{ title_suffix }}

  {% if display_submitted %}
    <footer>
      {{ author_picture }}
      <div{{ author_attributes }}>
        {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
        {{ metadata }}
      </div>
    </footer>
  {% endif %}

  <div{{ content_attributes }}>
    {# {{ content }} #}
    {#  {{ node.post.value }} #}
    <p> tiempo de creacion
       {{content.field_titulo}}  </p>
    <p>  {{ content.field_imatge_post }} </p>
    <p> {{content.body}} </p>
    {#{{ file_url(node.field_imatge_post['#items'].entity.uri.value) }} #}
    <p> {{content.field_flecha_img_post}} </p>
    <p> {{content.field_comentaris_post}} </p>

  </div>
 {{ devel_dump() }} 
</article>
