<!-- comienza el header-->

  <header class="main-header">
    <div class="container-header">
      <div id="header_top" clas="header-item">
        {% if page.header_top %}
          {{page.header_top}}
        {% endif %}
        </div>

        <div id="header-header" class="header-item">
        {% if page.header %}
          {{page.header}}
        {% endif %}
        </div>
    </div>
  </header>
<!--comienza el banner slider-->


    <div id="main-banner" clas="header_item">
      {% if page.banner %}
          {{page.banner}}
      {% endif %}
    </div>
<main id="content">
    <div id="header_held" clas="header_item">
      {% if page.held %}
          {{page.held}}
      {% endif %}
    </div>


<section>
    <div id="main-content" clas="main-item">
      {% if page.content %}
          {{page.content }}
      {% endif %}
    </div>
</section>
<section>
    <div id="main-Highlighted" clas="main-item">
      {% if page.Highlighted %}
          {{page.Highlighted }}
      {% endif %}
    </div>

</section>
</main>

<footer class="main-footer">
    <div id="footer_contact" class="footer-item">
      {% if page.footer_firs %}
          {{page.footer_firs}}
      {% endif %}
    </div>

<div id="footer_contact" class="footer-item">
  {% if page.footer %}
      {{page.footer}}
  {% endif %}
</div>
</footer>
