<div class="mf-container">
  <header id="header">
    <div id="header_top" clas="header-item">
      {% if page.header_top %}
          {{page.header_top}}
      {% endif %}
    </div>
    <div id="header-header" class="header-item">
      {% if page.header %}
          {{page.header}}
      {% endif %}

    </div id="header_banner" clas="header_item">
      {% if page.banner %}
          {{page.banner}}
      {% endif %}
    </div>

    </div id="header_held" clas="header_item">
      {% if page.held %}
          {{page.held}}
      {% endif %}
    </div>

    </div id="header_content " clas="header_item">
      {% if page.content %}
          {{page.content }}
      {% endif %}
    </div>
  </header>

</div>
